<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html lang="ja">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>rss-reader</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<link href="main.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>rss reader</h1>
<ul class='index_list'>
<li><a href="1-0.html">
	<span>～ 1 hour</span>
	<span class='index_count'><%= page_feed_nums[0] %></span>
</a></li>
<li><a href="6-0.html">
	<span>～ 6 hour</span>
	<span class='index_count'><%= page_feed_nums[1] %></span>
</a></li>
<li><a href="12-0.html">
	<span>～ 12 hour</span>
	<span class='index_count'><%= page_feed_nums[2] %></span>
</a></li>
<li><a href="24-0.html">
	<span>～ 24 hour</span>
	<span class='index_count'><%= page_feed_nums[3] %></span>
</a></li>
</ul>
</body>
</html>
